body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', 'Arial',  sans-serif;
  -webkit-font-smoothing: antialiased;
  /*   -moz-osx-font-smoothing: grayscale; */
  font-size: 0.875rem;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #F5F5F5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',  monospace;
}